# Ignore terraform run time folder 
.terraform

# Since this is just temporary
startbootstrap-coming-soon-gh-pages
holding

# Optionally embedded repos
localstack/
samplerepos/
scratch/

# Dependency directories
node_modules/
jspm_packages/
__pycache__/

# Coverage directories
.nyc_output/
coverage/
coverage.lcov

# Any production config
production.json

# Notebook checkpoints
.ipynb_checkpoints/
.docker-compose.yml.swp

# automated branch-master synchroniser
gitup.sh
jwt-private.key
jwt-public.key

# git attributes so not everyone needs to run the notebook cleaning
.gitattributes

# temporary deployment bundles
*.zip

package-lock.json

# phpstorm & mac specific files
atlassian-ide-plugin.xml
/.idea
cache.properties
.DS_Store

# private variables (keys etc)
*private*.tf
