# Ignore terraform run time folder 
.terraform

# Since this is just temporary
startbootstrap-coming-soon-gh-pages

# Optionally embedded repos
localstack/
samplerepos/
scratch/

# Dependency directories
node_modules/
jspm_packages/
__pycache__/

# Coverage directories
.nyc_output/
coverage.lcov

# Any production config
production.json

# Notebook checkpoints
.ipynb_checkpoints/
.docker-compose.yml.swp

# automated branch-master synchroniser
gitup.sh
jwt-private.key
jwt-public.key
