<html>
    <p>Hello,</p>
    <p>Important notice: a user has failed bank verification. Their details are:</p>
    <ul>
        <p><b>User name: </b>{accountHolder}</p>
        <p><b>Bank: </b>{bankName}</p>
        <p><b>Account number: </b>{accountNumber}</p>
        <p><b>Account type: </b>{accountType}</p>
        <p><b>Human reference: </b>{humanRef}</p>
    </ul>
    <p>To view the user's profile on the system admin panel, go here: <a href="{profileLink}">profile</a></p>
    <p>The Jupiter System</p>
</html>
