<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600%26display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Poppins', sans-serif; margin: 0;">
      <!-- Logo -->
      <div style="text-align: center; padding-top: 10;">
        <img width="200" height="56" alt="Jupiter Logo" src="https://message.jupitersave.com/Jupiter-Gradiant-rgb-cropped-scaled.jpg">
      </div>
    
      <!-- Main body -->
      <div style="font-size: 16px; line-height: 1.57; color: #4d565b; margin-bottom: 15px;">
        <p>Hi!</p>
        <p>{customShareMessage}</p>
        <p>To save with me, click here: {downloadLink}, download the app, and use the code {referralCode} at signup!</p>
      </div>

    </div>
  </body>
</html>
