<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600%26display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Poppins', sans-serif; margin: 0;">
      <!-- Logo -->
      <div style="text-align: center; padding-top: 10;">
        <img width="200" height="56" alt="Jupiter Logo" src="https://message.jupitersave.com/Jupiter-Gradiant-rgb-cropped-scaled.jpg">
      </div>
    
      <!-- Main body -->
      <div style="font-size: 16px; line-height: 1.57; color: #4d565b; margin-bottom: 15px;">
        <p>Hi!</p>
        <p>{customShareMessage}</p>
        <p>To save with me, click on one of the badges below, download the app, and use the code <b>{referralCode}</b> at signup! 
          Then just go to the saving buddies tab and accept my buddy request.</p>
        <p style="text-align: center;">
          <a href='https://play.google.com/store/apps/details?id=com.jupitersave.app&utm_source=friend_request&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img width="240" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
          </a>
        </p>
        <p style="text-align: center;">
          <a href='https://apps.apple.com/us/app/jupiter-save/id1502844198?ls=1&utm_source=friend_request'>
            <img width="220" alt='Download on the App Store' src='https://message.jupitersave.com/download_on_app_store.png'/>
          </a>
        </p>
        <p>
          Or download from our web page: {downloadLink}
        </p>
        <p>If you are already a Jupiter user, just go to the Saving Buddies screen, go to Buddy requests, tap "check here" near 
          the bottom and enter: <b>{requestCode}</b>
        </p>
      </div>

    </div>
  </body>
</html>
