<html>
    <p>Hello,</p>
    <p>We ran accrual on the float. Here are the results for today: 
        <ul>
            <li>Base float amount: {floatAmount}</li>
            <li>Annual total yield: {baseAccrualRate}</li>
            <li>Calculated simple daily (or since last calc): {dailyRate}</li>
            <li>Amount accrued: {accrualAmount}</li>
            <li>Amount to bonus pool: {bonusAmount}</li>
            <li>Amount to company: {companyAmount}</li>
            <li>Number of users allocated a share: {numberUserAllocations}</li>
            <li>Was there an excess after the division?: {bonusAllocation}</li>
        </ul>
    </p>
</html>
