<html>
    <p>Hello,</p>
    <p>This will be daily. Here are some numbers: 
        <ul>
            <li>Total users: {userNumbersTotal}</li>
            <li>New users today: {userNumbersToday}</li>
            <li>New users this week: {userNumbersWeek}</li>
            <li>Number of users who have saved: {numberSavedTotal}</li>
            <li>Number of users who saved today: {numberSavedToday}</li>
            <li>Number of users who saved this week: {numberSavedWeek}</li>
        </ul>
    </p>
</html>
