<html>
    <p>Hello,</p>
    <p>Unfortunately, a user has just decided to withdraw. Their bank details are:</p>
    <ul>
        <p><b>Account holder: </b>{accountHolder}</p>
        <p><b>Bank: </b>{bankName}</p>
        <p><b>Account number: </b>{accountNumber}</p>
        <p><b>Account type: </b>{accountType}</p>
        <p><b>Amount to withdraw: </b>{withdrawalAmount}</p>    
    </ul>
    <p>The results of bank account verificaton are:</p>
    <ul>
        <p><b>Account verification: </b>{verificationStatus</p>
        <p><b>When verified (if done): </b>{verificationTime}</p>
        <p><b>Failure reason (if failed): </b>{failureReason}</p>
    </ul>
    <p>This sucks but should be processed. Thanks. You can contact the user on {contactMethod} if necessary.</p>
    <p>To view the user's profile on the system admin panel, go here: <a href="{profileLink}">profile</a></p>
    <p>The Jupiter System</p>
</html>
