<html>
    <p>Hello,</p>
    <p>Unfortunately, a user has just decided to withdraw. Their bank details are:</p>
    <ul>
        <p><b>Account holder: </b>{accountHolder}</p>
        <p><b>Bank: </b>{bankName}</p>
        <p><b>Account number: </b>{accountNumber}</p>
        <p><b>Amount to withdraw: </b>{withdrawalAmount}</p>
    </ul>
    <p>This sucks but should be processed. Thanks.</p>
    <p>To view the user's profile on the system admin panel, go here: <a href="{profileLink}">profile</a></p>
    <p>The Jupiter System</p>
</html>
